<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP_INDUSDEV.Properties.Settings.DB_INDUSDEV_DEVConnectionString"
            connectionString="Data Source=myrod-dev.c8nesh19lf5i.eu-west-3.rds.amazonaws.com,1433;Initial Catalog=DB_INDUSDEV_DEV;Persist Security Info=True;User ID=admin;Password=tu3m*?lD!C"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>